pre-commit==4.5.0
huggingface-hub==0.36.0
accelerate==1.0.1
beautifulsoup4
bs4
came-pytorch
einops
ftfy
wheel
psutil
ninja
diffusers==0.35.0
clip@git+https://github.com/openai/CLIP.git
gradio==5.50
image-reward
ipdb
mmcv==1.7.2
omegaconf
opencv-python
optimum
patch_conv
peft==0.17.0
protobuf
pytorch-fid
regex
sentencepiece
tensorboard
tensorboardX
timm==0.6.13
transformers==4.57.0
wandb
webdataset
yapf
spaces
matplotlib
termcolor
pyrallis
bitsandbytes
fire
moviepy
imageio[pyav,ffmpeg]
qwen-vl-utils
lmdb
pillow

